extends layout

block content
      a(type="button" href='/kitaplar/ekle').btn.btn-primary Data Ekle
      
      a(type="button" href='/kitaplar/sil').btn.btn-success Data Sil

      a(type="button" href='/kitaplar/guncelle').btn.btn-danger Data Güncelle